{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/exec",
    "@semantic-release/github"
  ],
  "exec": {
    "prepare": {
      "command": "echo 'Preparing release...'"
    }
  },
  "github": {
    "assets": [
       "./packages/slds-linter/dist/*.tgz"
    ]
  },

  "publish": {
    "command": "echo 'Publishing release' && gh release create $npm_package_version ./packages/slds-linter/dist/*.tgz --title 'Release $npm_package_version' --notes 'Release $npm_package_version'"
  }
}
