.combobox-wrapper {
	position: absolute;
	width: 25% !important;
	margin: 1px;
	height: calc(100px - 10px);
	top: var(--lwc-spacingNone, 0);
	right: 0;
	z-index: 1;
	margin: var(--lwc-cardHeaderMargin)
}


